@import './base.css';

#app {
  max-width: 1024px;
  margin: 0 auto;
  /* padding: 2rem; */
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: normal;

  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  width: 100vw;
}

span{
  white-space:pre-wrap;
}